.glitch-wrapper {
  position: relative;
  color: white;
}
.glitch-wrapper::before,
.glitch-wrapper::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.glitch-wrapper::before {
  left: 2px;
  text-shadow: -1px 0 #00ffff;
  clip-path: inset(20% 0 30% 0);
  animation: glitch-anim-1 3s infinite linear alternate-reverse;
}
.glitch-wrapper::after {
  left: -2px;
  text-shadow: 1px 0 #ff00ff;
  clip-path: inset(50% 0 10% 0);
  animation: glitch-anim-2 2.5s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {
  0% { clip-path: inset(20% 0 80% 0); }
  20% { clip-path: inset(60% 0 10% 0); }
  40% { clip-path: inset(40% 0 50% 0); }
  60% { clip-path: inset(80% 0 5% 0); }
  80% { clip-path: inset(10% 0 70% 0); }
  100% { clip-path: inset(30% 0 20% 0); }
}
@keyframes glitch-anim-2 {
  0% { clip-path: inset(10% 0 60% 0); }
  20% { clip-path: inset(30% 0 10% 0); }
  40% { clip-path: inset(80% 0 5% 0); }
  60% { clip-path: inset(15% 0 80% 0); }
  80% { clip-path: inset(60% 0 20% 0); }
  100% { clip-path: inset(40% 0 50% 0); }
}